<p>get-all-customers works!</p>

 <table border="1">
    <tr>
        
        <th>RegNumber</th>
        <th>CustName</th>
        <th>PhoneNo</th>
        <th>CustEmail</th>
        <th>CustUsername</th>
        <th>CustAddress</th>
        <th>CardType</th>
        <th>BankName</th>
      

    </tr>
    <tr *ngFor="let item of custlist">
        <td>{{item.RegNumber}}</td>
        <td>{{item.CustName}}</td>
        <td>{{item.PhoneNo}}</td>
        <td>{{item.CustEmail}}</td>
        <td>{{item.CustUsername}}</td>
        <td>{{item.CustAddress}}</td>
        <td>{{item.CardType}}</td>
        <td>{{item.BankName}}</td>
    </tr>
</table>