
<p>get-all-customers works!</p>

 <table border="1">
    <tr>
        
        <th>RegNumber</th>
        <th>CustName</th>
        <th>PhoneNo</th>
        <th>CustEmail</th>
        <th>CustUsername</th>
        <th>CustAddress</th>
        <th>CardType</th>
        <th>BankName</th>
        <th>AccountNumber</th>
        <th>IFSCCode</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Verify</th>

    </tr>
    <tr *ngFor="let item of custlist">
        <td>{{item.RegNumber}}</td>
        <td>{{item.CustName}}</td>
        <td>{{item.PhoneNo}}</td>
        <td>{{item.CustEmail}}</td>
        <td>{{item.CustUsername}}</td>
        <td>{{item.CustAddress}}</td>
        <td>{{item.CardType}}</td>
        <td>{{item.BankName}}</td>
        <td>{{item.AccountNumber}}</td>
        <td>{{item.IFSCCode}}</td>

       <td> <a routerLink="/UpdateCustomer/{{item.RegNumber}}" class="btn btn-outline-primary" > Update Customer</a></td>
       <td><a  class="btn btn-outline-primary" (click) ="DeleteCustomer(item.RegNumber)">DeleteCustomer</a></td>
        <td><a class="btn btn-outline-primary" (click) ="VerifyCustomer(item.RegNumber)" >VerifyCustomer</a></td>
       
    </tr>
</table>

